@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #FFFFFF;
  --color-brand-accent: #C5A059;
  --color-brand-bg: #0A0A0A;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-primary font-sans antialiased;
  }
}
